 body {
     background-color: rgb(255, 255, 255);
     margin: 0;
     padding: 0;
     user-select: none;
 }


 /**
* Navbar styles
*/
 #navbar {
     display: flex;
     position: fixed;
     user-select: none;
     background: none;
     /* display: block; */
     color: white;
     align-items: center;
     z-index: 100;
     width: 100%;
     height: 10vh;
     background-color: rgb(63, 13, 22);
 }

 #navbarImage {
     /* width: auto; */
     height: 10vh;
     margin: 0;
     padding: 1vh;
     padding-left: 2vh;
 }

 #orc {
     font-size: 3vw;
 }

 #hello {
     margin: 0;
     padding-left: 1vw;
     height: 3vw;
     width: 30vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     color: white;
 }

 .topbar {
     padding: 1.2vw .6vw;
     /* height: 100%; */
     color: white;
     font-size: 1.4vw;
     text-align: center;
     display: inline-block;
     font-family: "Helvetica ", sans-serif;
     font-weight: 100;
 }

 #dams {
     width: 80%;
     height: auto;
     margin-left: 10%;
     margin-top: 6%;
     border-width: 10px;
     border-color: rgb(63, 13, 22);
     border-style: solid;
 }

 /* .displayImage{
        display: none !important;
} */


 @media(max-width: 1050px) {

     .row {
         width: 100%;
     }


     #you {
         padding-top: 5%;
     }

     #orc {
         font-size: 200%;
     }

     .Toggle {
         display: flex;
     }

     #navbarImage {
         display: block;
         height: 7vh;
         margin: 0;
         padding: 1vh;
         padding-left: 2vh;
     }

     #hello {
         padding: 1% 1%;
         display: none;
     }

     #navbar {
         height: auto;
     }

     .topbar {
         display: block;
         width: 100%;
         font-size: 5vw;
         padding: .8rem;
     }

     #con {
         text-align: center;
         width: 100%;
         margin-right: 0;
     }

     .active {
         display: none;
     }

     #small {
         font-size: 60%;
         font-weight: 300;
     }

     #stan {
         font-size: 60%;
         font-weight: 300;
     }

     #pic {
         width: 13rem;
         height: 60%;
     }
 }

 #text {
     /* margin-top: 5%; */
     /* float: left; */
     width: 75%;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     /* height: 70%; */
     background-color: rgb(82, 74, 76);
     text-align: center;
 }


 #imageHome {
     /* width: 76%; */
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     /* height: 70%; */
     /* background-color: rgb(82, 74, 76); */
     text-align: center;
 }

 #stan {
     padding-top: 1%;
     padding-right: 10%;
     padding-left: 10%;
     padding-bottom: 15%;
     font-size: 200%;
     color: white;
 }

 #small {
     padding-top: 2rem;
     padding-right: 10%;
     padding-left: 10%;
     font-size: 200%;
     color: white;
 }

 #pic {
     margin-top: 6.3%;
     float: right;
     width: 45%;
     height: 60%;
     padding-top: 0%;
     margin-left: 10%;
 }

 #stand {
     height: 100%;
     /* margin-left: auto;
     margin-right: auto; */
     /* height: 100%; */
     /* border-width: 10px; */
     border-color: rgb(63, 13, 22);
     border-style: solid;
 }

 #footer {
     width: 100%;
     height: auto;
     margin-top: 5%;
     float: right;
     text-align: center;
     margin-bottom: 3%;
 }

 #page {
     font-size: 125%;
     color: rgb(63, 13, 22);
     padding-left: 17%;
     padding-right: 17%;
 }

 #hi {
     margin: 0;
     padding: 4rem;
     color: rgb(63, 13, 22);
 }

 #link {
     color: rgb(148, 36, 56);
 }

 .Toggle {
     position: absolute;
     top: 3vh;
     right: 1rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 30px;
     height: 21px;
 }

 .Toggle .bar {
     height: 3px;
     width: 100%;
     background-color: white;
     border-radius: 10px;
 }

 #con {
     float: right !important;
     margin: 0;
     margin-left: 30vw;
     padding: 0;
     width: 50%;
 }

 .active {
     display: block;
 }

 #bladeCol1 {
     padding: 0 !important;
     height: 100vh;
 }

 #bladeCol2 {
     padding: 0 !important;
     height: 100vh;
 }

 @media(max-width: 1050px) {

     #homerow {
         padding-top: 1rem !important;
         width: auto !important;
         --bs-gutter-x: 0rem !important;
     }

     #bladeCol1 {
         padding: 0 !important;
         height: 25vh;
     }

     #bladeCol2 {
         padding: 0 !important;
         margin-top: 1vh;
         height: 50vh;
     }

     .row {
         width: 100%;
     }

     #you {
         padding-top: 5%;
     }

     #orc {
         font-size: 200%;
     }

     .Toggle {
         display: flex;
     }

     #im {
         width: 6vh;
     }

     #hello {
         padding: 1% 1%;
         display: none;
     }

     #navbar {
         height: auto;
         display: block;
     }

     .topbar {
         display: block;
         width: 100%;
         padding: .8rem;
     }

     #con {
         text-align: center;
         width: 100%;
         margin-left: 0;
     }

     .active {
         display: none;
     }

     #small {
         font-size: 80%;
         font-weight: 300;
     }

     #stan {
         font-size: 80%;
         font-weight: 300;
     }

     #pic {
         width: 13rem;
         height: 60%;
     }
 }

 #cuslink {
     padding: 0;
     margin: 0;
     width: fit-content;
     padding-bottom: 0.3%;
     color: rgb(49, 2, 2);
     font-weight: 700;
 }

 #cuslink:hover {
     background-color: #000;
     border-radius: 4px;
 }

 #cuslink2 {
     padding: 0;
     margin: 0;
     width: fit-content;
     padding-bottom: 0.3%;
     color: rgb(49, 2, 2);
     font-weight: 700;
 }

 #cuslink2:hover {
     background-color: #000;
     border-radius: 4px;
 }

 #prodlink {
     padding: 0;
     margin: 0;
     width: fit-content;
     padding-bottom: 0.3%;
     color: rgb(49, 2, 2);
     font-weight: 700;
 }

 #prodlink:hover {
     background-color: #000;
     border-radius: 4px;
 }

 .topbar:hover {
     background-color: rgb(37, 0, 0);
     border-radius: 10px;
 }

 #customise {
     padding-top: 7%;
     padding-right: 0;
     margin: 0;
     padding-bottom: 1rem;
     background-color: white;
 }

 #you {
     font-size: 260%;
     color: rgb(49, 2, 2);
     text-align: center;
 }

 #des {
     font-size: 140%;
     color: rgb(49, 2, 2);
     margin-left: 10%;
     margin-right: 10%;
     font-weight: bold;
     margin-bottom: 4%;
     text-align: center;
 }

 .bladecus {
     /* border-color: rgb(82, 74, 76); */
     border-width: 10%;
     border-style: solid;
     text-align: center;
     padding: 2rem 1rem;
     margin: auto;
     margin-top: 2%;
     margin-bottom: 2%;
     width: 95%;
     height: 60vh;
     border-radius: 20px;
     background-color: rgb(94, 28, 40);
 }

 @media (max-width: 1050px) {
     #TangPinBlock {
         height: 60vh !important;
     }
 }

 .firstRow {
     height: 50vh !important;
 }

 .secondRow {
     height: 45vh !important;
 }

 .thirdRow {
     height: 40vh !important;
 }

 #HandleBlock {
     display: flex;
     /* justify-items: ; */
 }

 .imageBlock {
     height: 70%;
     max-width: 100%;
 }

 #handleShapeBlock {
     height: 100% !important;
     max-width: 100%;
 }

 @media (max-width: 1050px) {
     #tangImageBlock {
         height: 60% !important;
     }

     #hiddenTang {
         height: 40% !important;
         /* max-width: 0%; */
     }

     #HandleBlock {
         display: flex;
         flex-direction: column;
         /* justify-items: ; */
     }

     #fullTang {
         height: 70% !important;
         max-width: 100%;
         padding-top: 1rem;
     }

     #textBlock {
         width: 100% !important;
         margin-left: 0rem !important;
         padding-right: 0rem !important;
     }

     .headtext {
         font-weight: 600;
         font-size: 160% !important;
     }

     #handleShapeBlock {
         height: 45% !important;
         max-width: 100%;
     }

     .handleInlay {
         height: 45% !important;
     }

     .bladeFinishes {
         text-align: center;
         height: 35% !important;
         max-width: 100%;
         padding-top: 0.5rem !important;
     }

     #sheathImage {
         text-align: center;
         height: 60% !important;
         max-width: 100%;
     }

 }

 #bladerow {
     /* width: 100; */
     margin-right: 0;
     margin-left: 0;
     color: #000;
     font-weight: 600;
 }

 #bladeshapes {
     text-align: center;
     height: 100%;
     max-width: 100%;
 }

 #handleShape {
     text-align: center;
     height: 100%;
     max-width: 100%;
 }

 #NameImage {
     text-align: center;
     height: 100%;
     max-width: 100%;
 }

 #sheathImage {
     text-align: center;
     height: 90%;
     max-width: 100%;
 }

 .bladeFinishes {
     text-align: center;
     height: 55%;
     max-width: 100%;
     padding-top: 1rem;
 }

 #textBlock {
     width: 38%;
     margin-left: 2rem;
     padding-right: 2rem;
 }

 #bladehead {
     font-size: 180%;
 }

 #tangrow {
     width: 100;
     margin-right: 0;
     margin-left: 0;
     background-color: rgb(82, 74, 76);
     color: #000;
 }

 .tangcus {
     text-align: center;
     padding: 2rem 4rem;
     font-weight: 600;
 }

 #fullTang {
     height: 85%;
     max-width: 100%;

     /* padding-top: 2rem; */
 }

 #hiddenTang {
     height: 50%;
     max-width: 100%;
 }

 #pinh {
     font-size: 180%;
 }

 .handleimg {
     width: 60%;
 }

 #handlerow {
     width: 100;
     margin-right: 0;
     margin-left: 0;
     color: #000;
 }

 .inlayimg {
     width: 28%;
 }

 .inlayimgbig {
     width: 40%;
 }

 #inlayrow {
     width: 100;
     margin-right: 0;
     margin-left: 0;
     color: #000;
 }

 .customImages {
     height: 50%;
 }

 .handleInlay {
     height: 100%;
 }

 #finishrow {
     width: 100;
     margin-right: 0;
     margin-left: 0;
     color: #000;
 }

 .finishimg {
     height: 40%;
 }

 .finishimgbig {
     width: 40%;
     padding-top: 2rem;
 }

 #hi {
     text-align: center;
     padding-bottom: 2%;
     width: 100%;
 }

 #homerow {
     padding-top: 3rem;
     width: 100%;
 }

 .tangcustext {
     background-color: rgb(94, 28, 40);
 }

 .finishrow2 {
     width: 100.926%;
     color: #000;
 }

 .headtext {
     font-weight: 600;
     font-size: 180%;
 }

 .subtext {
     font-weight: 600;
     font-size: 100%;
 }

 #contactus {
     background-color: white;
     padding-bottom: 1rem;
     width: 100%;
     margin: 0;
 }

 .contact {
     padding-top: 8rem;
     text-align: center;
 }

 #idcontact {
     width: 100%;
     margin: 0;
 }

 #con_text {
     font-size: 180%;
 }

 #con_text2 {
     font-size: 110%
 }

 #pigon {
     width: 20%;
 }

 .about {
     text-align: center;
     font-weight: 600;
 }

 #idabout {
     padding-left: 20%;
     padding-right: 20%;
     margin: 0;
     padding-top: 6rem;
     width: 100%;
 }

 #aboutpic {
     width: 40%;
 }

 #aboutus {
     background-color: white;
     padding-bottom: 5rem;
 }

 .hello {
     text-shadow: 4px, 4px, 5px, #000;
 }

 #padding {
     background-image: url(images/Image\ 2022-07-23\ at\ 4.35.29\ PM.jpeg);
     background-position-x: center;
     background-position-y: center;
     background-size: cover;
     border-color: rgb(94, 28, 40);
     border-width: 10px;
     border-style: solid;
     text-align: center;
     margin: 0;
     border-radius: 20px;
     background-color: rgb(94, 28, 40);
     padding-left: 5rem;
     padding-right: 5rem;
     padding-top: 2rem;
     padding-bottom: 2rem;
     color: black;

 }

 #abo_text {
     font-size: 300%;
 }

 #abo_text2 {
     font-size: 140%;
 }

 #hihome {
     text-align: center;
     padding-top: 4%;
     padding-bottom: 2%;
     width: 100%;
 }

 #hicus {
     text-align: center;
     padding-bottom: 2%;
     width: 100%;
 }

 #hicontact24 {
     margin: 0;
     padding: 4rem;
     color: rgb(63, 13, 22);
     text-align: center;
     padding-bottom: 2%;
     width: 100%;
 }

 @media(max-width: 1050px) {

     #abo_text {
         font-size: 200%;
         font-weight: 650;
     }

     #abo_text2 {
         font-size: 110%;
         font-weight: 650;
     }

     #page {
         font-size: 100%;
         color: rgb(63, 13, 22);
         padding-left: 4%;
         padding-right: 4%;
     }

     #padding {
         padding-left: .4rem;
         padding-right: .4rem;
         padding-top: 2rem;
         padding-bottom: 2rem;
         margin-left: 0%;
         margin-right: 0%;
     }

     #idabout {
         padding-left: 0%;
         padding-right: 0%;
         margin: 0;
         padding-top: 6rem;
         width: 100%;
     }


     #none {
         display: none;
     }

     #aboutus {
         padding-bottom: 20rem;
     }
 }

 @media(max-width: 1050px) {


     #contactus {
         padding-bottom: 15%;
     }

     #cart {
         text-align: center;
         width: 300%;
     }

     #home {
         padding-top: 3.5rem;
     }

     #hihome {
         text-align: center;
         padding-top: 15rem;
         padding-bottom: 2%;
         width: 100%;
     }

     #hicus {
         text-align: center;
         padding-top: 6%;
         padding-bottom: 6%;
         width: 100%;
     }

     #pic {
         margin-top: 6.3%;
         float: right;
         width: 50%;
         height: 60%;
         padding-top: 0%;
         margin-left: 5%;
     }

     #stand {
         /* width: 96%; */
         border-width: 10px;
         border-color: rgb(63, 13, 22);
         border-style: solid;
     }

     #customise {
         padding-top: 3rem;
     }

     #products {
         padding-top: -3rem;
         padding-bottom: 6rem;
         background-color: rgb(82, 74, 76);
         padding-left: 0%;
         padding-right: 0%;
     }

     .Toggle {
         top: 2vh;
     }

     #custom {
         font-size: 150%;
     }

     #contactus {
         padding-bottom: 21.5rem;
     }

     #hicontact24 {
         padding-top: 24.5rem;
         width: 100%;
     }
 }

 #idprod {
     width: 100%;
     padding-top: 2rem;
     padding-bottom: 2rem;
     border-style: solid;
 }

 .idprod2 {
     width: 100%;
     padding-top: 2rem;
     padding-bottom: 2rem;
     margin-top: 2rem;
     border-style: solid;
 }



 .idprod2_4 {
     width: 100%;
     padding-top: 2rem;
     padding-bottom: 2rem;
     margin-top: 2rem;
     padding-left: 2rem;
     border-style: solid;
 }

 .prodcol {
     text-align: center;
 }

 .prodcol_M {
     text-align: center;
     margin: 0;
     padding: 0;
 }

 #products {
     padding-top: 6rem;
     padding-bottom: 1rem;
     background-color: white;
     padding-left: 10%;
     padding-right: 10%;
 }

 .sheathimg {
     height: 40%;
 }

 .none {
     display: none;
 }

 #cart {
     width: 100%;
     height: auto;
     padding: 0;
     margin: 0;
 }

 #carttab {
     width: 7%;
 }

 #checkout {
     padding-top: 7rem;
 }

 .idprod2 {
     display: none;
 }

 .idprod2_4 {
     display: inline-flex;
 }

 #aboutpic_4 {
     width: 80%;
 }

 @media(max-width: 1050px) {
     .idprod2 {
         display: flex;
         width: auto !important;
     }

     .idprod2_4 {
         display: none;
     }
 }

 @media(min-width: 1050px) {

     .back2 {
         padding-top: 3rem;
         padding-bottom: 22rem;
         text-align: center;
     }

     .idprod2 {
         display: none;
     }

     .idprod2_4 {
         display: flex;
     }
 }

 .back {
     padding-top: 3rem;
     padding-bottom: 3rem;
     text-align: center;
 }

 .back2 {
     padding-top: 3rem;
     padding-bottom: 3rem;
     text-align: center;
 }

 #heading1 {
     padding-top: 1rem;
     text-align: center;
     color: #000;
     font-size: 200%;
 }

 #galleryHeading {
     font-size: 300%;
     text-align: center;
     padding-top: 2rem;
     padding-bottom: 2rem;
 }

 .imageRow {
     width: 100%;
 }

 .imagepadding {
     padding: 0.5rem;
 }

 .noWidth {
     width: auto;
 }